<br><br><br><br>
<div class="example-button-row" style="text-align: center">
<button mat-button (click)="openDialogWithRef(firstDialog)">Check invitations</button>

</div>

<div mat-dialog-container>
<ng-template #firstDialog>

  <h2 matDialogTitle>Invitation to the room<mat-icon>bug_report</mat-icon></h2>
  <p matDialogContent><em>This room is available for you...</em></p>

    <p>
      <mat-form-field appearance="outline">
        <mat-label>Username:</mat-label>
        <input matInput placeholder="Name">
        <mat-icon matSuffix>bug_report</mat-icon>
        <mat-hint>Enter only 10 symbols(max)!</mat-hint>
      </mat-form-field>
    </p>

  <div mat-dialog-actions align="end">
    <div class="example-button-row">
    <button mat-button matDialogClose>Confirm</button>
    </div>
  </div>

</ng-template>
</div>

