
h1 {
  text-shadow: 3px 5px 6px #242727;
  opacity: 1.0;
  filter: alpha(Opacity=100);
  text-align: center;
}
.center1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding:20px;
  height:75%;
}

mat-icon{
  color:#371C05;
}
.custom-cur {
  cursor: url('./imges/12193mansshoe_109585.png'), move;
}
h2 {
  font-family: 'Kaushan Script', cursive;
  font-size: 1.5em;
  line-height: 1;
  letter-spacing: 3px;
  color:#371C05;
  padding:40px;
}

@media (max-width: 420px) {
  .one h1 {font-size: 2em;}
}
.top-menu {
  position: relative;
  padding: 10px 15px;
  font-family: 'Kaushan Script', cursive;
  font-size: 1.7em;
  line-height: 1;
  letter-spacing: 3px;
  color:#371C05;
}
.sub-menu{
  font-family: 'Libre Baskerville', serif;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 5px 10px;
  transition: .3s linear;
  color:#371C05;
}
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
  font-family: 'Libre Baskerville', serif;
  font-size: 20px;
  background-color:#C3E1E9;
  box-shadow: 0 2px 2px 0 #757575,0 3px 1px -2px #757575,0 1px 5px 0 #757575;
}
.production{
  position: fixed;
  right: 0;
  bottom: 0;
  font-family: 'Kaushan Script', cursive;
  font-size: 1.5em;
  line-height: 1;
  letter-spacing: 3px;
  color:#371C05;
}

